<?xml version="1.0"?>
<model>
  <name>R.A.L. X6</name>
  <version>1.0</version>
  <sdf version='1.0'>ral_x6.sdf</sdf>

  <author>
   <name>Lebedev Igor and Anton Yanin</name>
   <email>igorlevedev@gmail.com</email>
  </author>

  <description>
    Model of the R.A.L., multirotor Rus Aero Lab. 
    This original model has been created by Anton Yanin and moved to gazebo by Igor Lebedev.
  </description>
</model>
